  body{
  	background-color:#FEF9E7;
  }
  .title{
  	font-size: 42px;
  	font-family: helvetica;
  	font-style: bold;
  	margin:20px;
  	color:darkgray ;
  }
  .container{
      display:grid;
      grid-gap:50px;
      padding:100px;
      background-color:#FEF9E7;
    }

   .item1{
      width: 1000px;
      height: 70px;
      background: #D7BDE2  ;
      margin-left: 20px;
      margin-right: 20px;
     /* padding:30px;*/
   

    }

   .item2{
   	  width: 1000px;
      height: 70px;
      background: #D7BDE2  ;
      margin-left: 20px;
      margin-right: 20px;


   }

   .item3{
   	  width: 1000px;
      height: 70px;
      background: #D7BDE2  ;
      margin-left: 20px;
      margin-right: 20px;

   	
   }

   .item4{
   	  width: 1000px;
      height: 70px;
      background: #D7BDE2  ;
      margin-left: 20px;
      margin-right: 20px;

   	
   }

   .item5{
   	  width: 1000px;
      height: 70px;
      background: #D7BDE2  ;
      margin-left: 20px;
      margin-right: 20px;

   	
   }

   .item6{
   	  width: 1000px;
      height: 70px;
      background: #D7BDE2  ;
      margin-left: 20px;
      margin-right: 20px;

   	
   }
   
   
  
  
