p{
	font-style: italic ;
	font-weight: bold;
	font-size:30px;
	font-family:chalkduster;
	text-align:right;
	line-height:31px;
	letter-spacing:21;
	text-transform:lowercase;
	color: #B0BEC5  ; 
	column-count: 1;

}