h1{font-style:  ;
	font-weight: thin;
	font-size:30px;
	font-family:'Pacifico', cursive;
	text-align:center;
	line-height:50px;
	letter-spacing:20;
	text-transform;
	color: #26C6DA  ; 
	column-count: 2;
	
}