p{
	text-align: right;
	font-family: "Arial Arounded MT bold";
	font-size: 32px;
	font-weight: 350;
	font-style: bold;
	line-height: 30px;
	text-transform: bold;

	color: #795548;
	background-color: rgba(255,0,0,0.5)a;
	opacity: 100;
	text-decoration-line: normal;
	text-decoration-style: double;
	font-stretch: semi-condensed;
	column-count: 3
	
	
}

	body{background-image: url(https://i.pinimg.com/564x/1e/7a/3f/1e7a3fbe336bcd565be0ebf058541e5a.jpg);}
}
